[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
opencv-python = "*"
imutils = "*"
django-bootstrap4 = "*"
django-cleanup = "*"
django-storages = "*"
boto3 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.7"
