/* 全体 */
html, body {
    height:100%;
}

li {
	list-style:none;
	margin:0px;
  list-style-position:none;
}
.grey {
  color:grey;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 3;
  appearance: none;
}

/* base.html */
.nav-border-line {
  background-color:white;
}

.main {
  width:100%;
  position:fixed; 
  z-index:2;

}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
   
  }

.scrollmenu a {
    display: inline-block;
    width:12.5%;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
.scrollmenu a:hover {
    background-color: #777;
  }

/* --- ハートアニメーション --- */

@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

.LikesIcon-fa-heart.heart{
  /* heartAnimationアニメーションを300ミリ秒かけて実行する */
  animation: heartAnimation .3s;
  
}

/* home.html */
.card-columns {
    column-count: 3;
    margin-top:20px;
  }

.card {
    border-radius:0px;
    border-color:white;
}

.card img {
    border-radius:0px;
}

.card-text {
  padding-top:10px;
}

.fa-heart {
  color:rgb(248, 172, 185);
}

.like {
  text-align:right;
}

/* detail.html */
.art-detail {
  width:100%;
}


/* form.html */
.explanation {
  width:100%;
  text-align:center;
}

.explanation table td img{
  width:100%;
}

.explanation table td {
  text-align:center;
  background-color:#333;
  color:white;
  padding:3px 0px 3px 0px;
  border-right:1px white solid;
}

/* form.html */
.loginBtn-google {
  border-color:grey;
  color:grey;
  width:100%;
  margin-bottom:20px;
}

.loginBtn-google:hover {
  background-color:rgb(245, 241, 241);
  color:grey;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.loginBtn-twitter {
  border-color:#1DA1F2;
  background-color:#1DA1F2;
  color:white;
  width:100%;
  margin-bottom:20px;
}

.loginBtn-twitter:hover {
  opacity:0.8;
  color:white;
}

.loginBtn-facebook {
  border-color:#3B5998;
  background-color:#3B5998;
  color:white;
  width:100%;
  margin-bottom:20px;
}

.loginBtn-facebook:hover {
  opacity:0.8;
  color:white;
}

/* タブレット向けレイアウト */
/* ブレイクポイントをmax-width: 1000pxに指定 */
@media(max-width:1000px) {

    /* base.html */
    
    .scrollmenu a {
        display: inline-block;
        width:30%;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
      }
      
    .scrollmenu a:hover {
        background-color: #777;
      }

    /* home.html */
    .card-columns {
        column-count: 2;
      }

}


/* スマートフォン向けレイアウト */
/* ブレイクポイントをmax-width: 670pxに指定 */
@media(max-width:670px){

    /* base.html */


    .scrollmenu a {
        display: inline-block;
        width:33%;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        float:none;
      }

    .scrollmenu a:hover {
        background-color: #777;
      }

     /* home.html */
    .card-columns {
        column-count: 1;
      }

}