{% extends 'arts/base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-2"></div>

	<div class="col-md-8">
	<br>

	{% load crispy_forms_tags %}

		<form method="POST" enctype="multipart/form-data" action="" class="blog-form">
			{% csrf_token %}
			{{ form.image|as_crispy_field }}
			{{ form.action|as_crispy_field }}
			<br>
						
			<button type="submit" class="btn btn-dark">Create</button>
		</form>

		<br>
		<br>

		<div class="explanation">

			<p><h5>Style Variations</h5></p>

			<br>

			{% load static %}
			<table>
				<tr>
					<th>Udnie</th>
					<th>Candy</th>
				</tr>
				<tr>
					<td><img src="{% static 'img/IMG_1171_candy.png' %}"></td>
					<td><img src="{% static 'img/IMG_1171_udnie.png' %}"></td>
				</tr>
				<tr>
					<th style="width:50%">Mosaic</th>
					<th>Pink</th>
				</tr>
				<tr>
					<td><img src="{% static 'img/IMG_1171_mosaic.png' %}"></td>
					<td><img src="{% static 'img/IMG_1171_pink.png' %}"></td>
				</tr>
				<tr>
					<th>La Muse</th>
					<th>Rain</th>
				</tr>
				<tr>
					<td><img src="{% static 'img/IMG_1171_lamuse.png' %}" ></td>
					<td><img src="{% static 'img/IMG_1171_rain.png' %}" ></td>
				</tr>
				<tr>
					<th>Landscape</th>
					<th>Triangle</th>
				</tr>
				<tr>
					<td><img src="{% static 'img/IMG_1171_landscape.png' %}"></td>
					<td><img src="{% static 'img/IMG_1171_triangle.png' %}"></td>
				</tr>
			</table>

		</div>

	</div>

    <div class="col-md-2"></div>
</div>

{% endblock %}