{% extends 'arts/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-1 col-sm-0"></div>
   
    <div class="col-md-10 col-sm-12">
        <div class="art-detail">
           <br> 
           <img src="{{MEDIA_URL}}{{object.image}}" style="width:100%;padding-bottom:10px;">
            
           {% include 'arts/like.html' %}
                
        </div>
        <div class="delete-botton">
            {% if request.user == object.author %}
            <a href="{% url 'art-delete' object.id %}" class="grey">Delete</a>
            {% endif %}
        </div>
    </div>

    <div class="col-md-1 col-sm-0"></div>

</div>

<br>
  



 {% endblock %}
