
<table align="right">
    <tr>
        <td>
            <form action="{% url 'like' %}" method="POST">
                {% csrf_token %}
                {% if art.id in liked_list %}
                    <button id="like" name="{{art.id}}"><i class="fas fa-lg fa-heart like-red LikesIcon-fa-heart"></i></button>
                {% else %}
                    <button id="like" name="{{art.id}}"><i class="far fa-lg fa-heart LikesIcon-fa-heart"></i></button>      
                {% endif %}
            </form>
        </td>
        <td style="padding-left:20px;">
            <p name="{{art.id}}-count" style="color:grey;"> {{ art.like_set.count }} </p>
        </td>
    </tr>
</table>
