{% extends 'arts/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<br>

<div class="row">

    <div class="col-md-4 col-sm-0"></div>

    <div class="col-md-4 col-sm-12">
        <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-dark">Sign up</button>
        </form>
        <style>
            #hint_id_username,
            #hint_id_password1,
            #hint_id_password2 {
                display:none;
            }
        </style>

        <br>
        <p><strong>-- OR --</strong></p>

        <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button class="btn loginBtn-google">
            <i class="fab fa-google"></i>  Sign up with Google
            </button>
        </a>

        <a href="{% url 'social:begin' 'twitter' %}">
            <div class="btn loginBtn-twitter">
                <i class="fa fa-twitter"></i> Sign up with Twitter
            </div>
        </a>

        <a href="{% url 'social:begin' 'facebook' %}">
            <div class="btn loginBtn-twitter">
                <i class="fa fa-twitter"></i> Sign up with Facebook
            </div>
        </a>

    </div>

    <div class="col-md-4 col-sm-0"></div>

</div>


{% endblock %}